{% extends 'base.html' %}

{% block title %}
{{title}}
{% endblock %}


{% block content %}
<h1 class='text-center'>This is Dashboard Page</h1>
<div class="row">
    <div class="col-6">
        <div class="card text-center">
            <div class="card-header h4 bg-success text-white">
                Total Expenses
            </div>
            <div class="card-body font-weight-bold h5 mb-0 alert-warning text-dark">
                {{ total_expense }} <span class="">BDT</span>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card text-center">
            <div class="card-header h4 bg-success text-white">
                Total Meals
            </div>
            <div class="card-body font-weight-bold h5 mb-0 alert-warning text-dark">
                {{ total_meal }} <span class="">Unit</span>
            </div>
        </div>
    </div>
</div>
<table class="table table-sm table-bordered mt-3">
    <tr class="text-center">
        <th class="bg-primary h4">Details View for January</th>
    </tr>
    <tr>
        <td>
            <div class="row pt-3 text-center">
                <!-- Main Table Details -->
                <div class="col-12">
                    <div class="card-group">
                        <div class="card">
                            <div class="card-header h5">Sobuz</div>
                            <div class="card-body">
                                <table class="table table-sm table-bordered">
                                    <tr class="bg-danger text-white">
                                        <th>Expense</th>
                                        <th>Meals</th>
                                    </tr>
                                    <tr class="text-info font-weight-bold">
                                        <td>2330</td>
                                        <td>32</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header h5">Jibon</div>
                            <div class="card-body">
                                <table class="table table-sm table-bordered">
                                    <tr class="bg-danger text-white">
                                        <th>Expense</th>
                                        <th>Meals</th>
                                    </tr>
                                    <tr class="text-info font-weight-bold">
                                        <td>45454</td>
                                        <td>12</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </td>

    </tr>

</table>


{% endblock content %}