{% extends 'base.html' %}
{% block title %}
    {{ title }}
{% endblock title %}


{% block content %}
    <legend class="text-center border-bottom">List of expenses</legend>
    <table class="table table-sm table-striped">
        <thead class="bg-warning">
        <tr class="text-center">
            <th>SL</th>
            <th>Date</th>
            <th>Name</th>
            <th>Expense Amount</th>
            <th class='text-wrap'>Remarks</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        </thead>

        {% for expense in items %}
            <tr class="text-center">
                <td>{{ forloop.counter }}</td>
                <td>{{ expense.date|date:'d-M-Y' }}</td>
                <td class='text-capitalize'>{{ expense.name.username }}</td>
                <td>{{ expense.expense_amount }} <span class='bdt-text'> &#2547;</span></td>
                <td class='text-wrap text-uppercase'>{{ expense.items_description }}</td>
                <td><a class="btn btn-sm btn-info text-uppercase"
                       href="{% url 'update-expense' expense.id %}">update</a></td>
                <td><a class="btn btn-sm btn-danger text-uppercase"
                       href="{% url 'delete_expense' expense.id %}">delete</a></td>
            </tr>
        {% empty %}
            <li>No data created</li>
        {% endfor %}
    </table>

  {% include 'ghuri/pagination.html' %}

{% endblock content %}