<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'bootstrap_cdn.html' %}
    {% include 'fontawosome_cdn.html' %}
    <!-- # Title 
    #------------------ -->
    {% if title %}
    <title>{% block title %} {% endblock title %} - Ghuri</title>
    {% else %}
    <title>Ghuri</title>
    {% endif %}
</head>

<body>
    {% include 'navigation.html' %}

    <div class="container">
        <div class="header">
            {% block header %}
            {% endblock header %}
        </div>

        <div class="main">
            {% block content %}
            {% endblock content %}
        </div>
    </div>
    <div class="footer">
        {% block footer %}
        {% endblock footer %}
    </div>
    {% include 'js_cdn.html' %}
</body>

</html>