{% extends 'base.html' %}

{% load crispy_forms_tags %}

<!-- {% block title %}
	{% if title %}
		<title>{{ titile }} | Ghuri </title>
	{% else %}
		<title>{{ title }} </title>
	{% endif %}
{% endblock title %} -->

{% block content %}
		<h1>Login Form</h1>
		<form method="POST">
			{% csrf_token %}
			<fieldset class="form-group">
				<legend class="border-bottom">
					Login
				</legend>
				{{ form|crispy }}
			</fieldset>
			<div class="form-group">
				<button class="btn btn-outline-info" type="submit">
				Login
				</button>
			</div>
		</form>
{% endblock content %}